<div class="container__big-card">
    <a href="">
        <div class="big-card__photo">
            <img src="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png"
                alt=""
                height="200px"
                srcset=""
            >
        </div>
        <div class="big-card__title">
            <h1>SAIU a nova versão do Angular</h1>
        </div>
        <div class="big-card__description">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus ipsa illum ex quia atque consectetur placeat iste libero modi. Nostrum quia distinctio aliquid, voluptatum dolorum provident excepturi laboriosam nihil laborum.</p>
        </div>
    </a>
</div>