.container__big-card{
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: #202427;

    border-radius: 5px;

}

.big-card__title > h1{
    margin-top: 15px;
    font-size: 20px;
}

.big-card__description > p{
    margin-top: 10px;
    color: gray;

}

.big-card__photo{
    width: 100%;
    min-width: 400px;
}
