.container__small-card{
    width: 600px;
    margin-bottom: 15px;
    margin-left: 15px;
    -webkit-box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.66);
    box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.66);
    background-color: #202427;

    height: 100px;

    border-radius: 5px;
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card__photo > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;

}

.small-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__small-card-separator{
    margin-bottom: 15px;
}

.container__small-card-separator > hr{
    border-color: #242525;
}

@media screen and (max-width: 600px){
    .container__small-card{
        width: 400px;
        height: 150px;
        margin-top: 5px;
        margin-left: 10px;
    }

    .small-card__photo > img {
        height: 150px;
    }
}